<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.volcengine.vertcdemo.voice">

    <application>
        <activity
            android:name=".feature.chatroomlist.ChatRoomListActivity"
            android:exported="false"
            android:icon="@drawable/ic_voice_salon"
            android:label="@string/scene_voice_salon"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="${applicationId}.category.SCENE" />
            </intent-filter>

            <meta-data
                android:name="scene_name_abbr"
                android:value="cs" />
        </activity>
        <activity
            android:name=".feature.chatroommain.ChatRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.createchatroom.CreateChatRoomActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>